<body>
  <img
    class="img-fluid p-5"
    src="./images/Valorant_logo.svg.png"
    alt="valorant-logo"
  />
  <div class="container text-center mt-5">
    <div class="row align-items-center">

      <div class="col-12 col-md-4 product mb-3">
        <div class="card">
          <img class="img-fluid" src="./images/maps.webp" height="200" />
          <div class="card-body">
            <a href="/maps" class="btn btn-outline-danger w-50">Maps</a>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4 product mb-3">
        <div class="card">
          <img class="img-fluid" src="./images/lineup.webp" height="200" />
          <div class="card-body">
            <a href="/lineups" class="btn btn-outline-danger w-50">LineUps</a>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4 product mb-3">
        <div class="card">
          <img class="img-fluid" src="./images/agents.jpeg"/>
          <div class="card-body">
            <a href="/agents" class="btn btn-outline-danger w-50">Agents</a>
          </div>
        </div>
      </div>

    </div>
  </div>

</body>