<h2>Create a lineup!</h2>

<form action="/lineups/create" method="post" enctype="multipart/form-data">
  <label>
    Upload a video
    <input type="file" name="videoLineup" />
  </label>
  <label>
    Title:
    <input type="text" name="title"/>
  </label>
  <label>
    Agent:
    <select name="agent">
      <option value="Neon">Neon</option>

      {{!-- {{#each agent}}
        <option value={{this._id}}>{{this.name}}</option>
      {{/each}} --}}
    </select>
  </label>
  <label>
    Map:
    <select name="map">
      <option value="Icebox">Icebox</option>
      {{!-- {{#each map}}
        <option value={{this._id}}>{{this.name}}</option>
      {{/each}} --}}
    </select>
  </label>
  <label>
    Attack/Defense:
    <select name="attackDefense">
      <option value="attack">Attack</option>
      <option value="defense">Defense</option>
      <option value="both">Both</option>
    </select>
  </label>

  <button>Create</button>
</form>