<h2>Create a lineup!</h2>

<form action="/lineups/create" method="post" enctype="multipart/form-data">
  <label>
    Upload a video
    <input type="file" name="video-lineup">
    </label>
  <label>
    Agent:
    <select name="agent">
      {{#each agent}}
        <option value={{this._id}}>{{this.name}}</option>
      {{/each}}
    </select>
  </label>
  <label>
    Map:
    <select name="map">
      {{#each map}}
        <option value={{this._id}}>{{this.name}}</option>
      {{/each}}
    </select>
  </label>
  <label>
    Attack/Defense:
    <select name="attackDefense">
      <option value="attack">Attack</option>
      <option value="defense">Defense</option>
      <option value="both">Both</option>
    </select>
  </label>

  <button>Create</button>
</form>