<div class="text-center">
  <h1 class="text-white">Maps</h1>
</div>
<div class="container text-center">
  <div class="row">
    {{#each data}}
      <div class="col-12 col-md-4 product mb-3">
        <div class="card h-100">
          <img src={{splash}} class="card-img-top"/>
          <div class="card-body">
            <h5 class="card-title">{{displayName}}</h5>
            <p class="card-text">
              {{description}}
            </p>
            <a href="/maps/{{uuid}}" class="btn btn-danger mb-2 d-block">More details</a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>


 